.set-password {
  .icon-button-container {
    font-size: 0.75rem;
    margin-top: 0;

    .pwned-info {
      display: inline-block;
    }

    & > button {
      margin-top: -4px;
    }
  }

  .confirm-password {
    margin-top: 28px;

    &.after-warning {
      margin-top: 0;
    }
  }

  .working-container {
    display: flex;
  }

  .working {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 16px;

    div {
      display: inline-block;
      position: absolute;
      left: 6px;
      width: 8px;
      animation: working 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

      &:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
      }

      &:nth-child(2) {
        left: 18px;
        animation-delay: -0.12s;
      }

      &:nth-child(3) {
        left: 30px;
        animation-delay: 0;
      }
    }
  }

  .submit {
    margin-top: 40px;

    &.after-error {
      margin-top: 20px;
    }
  }
}
